<section>
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">My posts</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-column justify-content-center">
          <div class="container text-center mb-2 col-md-6">
            <h3 class="text-left">Title</h3>
            <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eos in inventore, modi necessitatibus optio pariatur ratione velit veniam!</p>
          </div>
          <div class="container text-center mb-2 col-md-6">
            <h3>Title</h3>
            <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eos in inventore, modi necessitatibus optio pariatur ratione velit veniam!</p>
          </div>
          <div class="container text-center mb-2 col-md-6">
            <h3>Title</h3>
            <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eos in inventore, modi necessitatibus optio pariatur ratione velit veniam!</p>
          </div>
          <div class="container text-center mb-2 col-md-6">
            <h3>Title</h3>
            <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem eos in inventore, modi necessitatibus optio pariatur ratione velit veniam!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
